/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(48, 16, 255, 1)),
    to(rgba(100, 115, 255, 1))
  );
  background: -o-linear-gradient(
    left,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );
}

.app-container {
  position: relative;
}

.todo-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* Ensure the image stays above other content */
  width: 50px; /* Adjust the width to fit your design */
  height: 50px; /* Adjust the height to fit your design */
}

.todo-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  width: 520px;
  min-height: 500px;
  background: #161a2b;
  text-align: center;
  margin: 70px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todo-input::-webkit-input-placeholder {
  color: #e2e2e2;
}

.todo-input::-moz-placeholder {
  color: #e2e2e2;
}

.todo-input:-ms-input-placeholder {
  color: #e2e2e2;
}

.todo-input::-ms-input-placeholder {
  color: #e2e2e2;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(93, 12, 255, 1)),
    to(rgba(155, 0, 250, 1))
  );
  background: -o-linear-gradient(
    left,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(20, 159, 255, 1)),
    to(rgba(17, 122, 255, 1))
  );
  background: -o-linear-gradient(
    left,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(255, 118, 20, 1)),
    to(rgba(255, 84, 17, 1))
  );
  background: -o-linear-gradient(
    left,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(93, 12, 255, 1)),
    to(rgba(155, 0, 250, 1))
  );
  background: -o-linear-gradient(
    left,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(255, 12, 241, 1)),
    to(rgba(250, 0, 135, 1))
  );
  background: -o-linear-gradient(
    left,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(20, 159, 255, 1)),
    to(rgba(17, 122, 255, 1))
  );
  background: -o-linear-gradient(
    left,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}
